<%- include('header') %>

<header class="container text-center mb-4">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Please select two runes to start crafting</p>
</header>

<main class="container d-flex justify-content-center">
  <section class="runes-container ">
    <img class="runeImgs" src="/images/BlueRune.svg" alt="Blue Rune">
    <img class="runeImgs" src="/images/RedRune.svg" alt="Red Rune">
    <img class="runeImgs" src="/images/GreenRune.svg" alt="Green Rune">
  </section>
</main>

<%- include('footer') %>