html {
  background-color: #5A9367;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9f2f5 !important;
  height: 100vh;
}

header {
  padding-right: -15px;
  padding-left: -15px;
}

footer {
  /* position: sticky; */
  bottom: 0;
}

a {
  color: #00B7FF;
}

/* MAIN PAGE */

/* CONTENT */
.runeImgs {
  width: 100px;
}
