html {
  background-color: #5A9367;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9f2f5 !important;
  height: 100vh;
}

header {
  padding-right: -15px;
  padding-left: -15px;
}

footer {
  position: fixed;
  bottom: 0;
}

a {
  color: #00B7FF;
}

/* MAIN PAGE */

/* CONTENT */
.runeImgs {
  /* width: 100px; */
  margin-left: 2rem;
  margin-right: 2rem;
  flex: 1;
  transition: 0.5s;
}

.runeImgs:hover {
  /* width: 120px; */
  flex: 2;
  transition: 0.5s;
  cursor: pointer;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.runeImgClicked {
  flex: 3 !important;
}

.runes-container {
  display: flex;
  width: 800px;
  height: 250px;
}